*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 13px;
}

body{
    background: linear-gradient(to right, lightpink, cornflowerblue);
    padding: 0 10px;

}

.notification{
    padding: 50px 0;
}

.notification form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 490px;
    height: 540px;
    padding: 50px 70px;
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    background-color: white;
    overflow: auto;
}

.notification form h2{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;
    padding-bottom: 25px;
}

.notification form p{
    font-size: 17px;
    color: black;
    font-family: sans-serif;
    padding: 15px;
}

.notification .button{
    font-size: 14px;
    background-color: limegreen;
    color: white;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 20px;
    width: 90px;
    height: 30px;
}

.notification .button:hover {
    background-color: forestgreen;
    color: white;
    transition: 0.7s;
}